*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffcdb2;
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    color:#6d6875;
    font-size: 12vmin;
    background-color: #ffb4a2;

}
h1{
    color:#6d6875;
    padding: 1rem;
}
.reset-btn{
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border:none;
    box-shadow:  0 0 1rem  #b5838d;
    background-color: #e5989b;
    color:#6d6875;
}
.new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border:none;
    box-shadow:  0 0 1rem  #b5838d;
    background-color: #e5989b;
    color:#6d6875;
}
.msg{
    color: #b5838d;
    font-size: 3.5rem;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display: none;
}